// all inputs except radios and checkboxes inherit from form-control
// input[type="text"],
// input[type="search"],
// input[type="url"],
// input[type="tel"],
// input[type="number"],
// input[type="range"],
// input[type="date"],
// input[type="month"],
// input[type="week"],
// input[type="time"],
// input[type="datetime"],
// input[type="datetime-local"],
// input[type="color"],
// input[type="email"],
// input[type="file"],
// input[type="submit"],
// select,
// textarea {
//     @extend .form-control;

// }

// submit button, inherit .btn and .btn-outline-primary classes.
// button[type="submit"] {
//     @extend .btn;
//     @extend .btn-outline-primary;
// }

label {
    font-weight: 400;
    font-size: 0.9rem;
    opacity: 0.6;
    margin-bottom: 0.5rem;
}
